doctype html
html
  head
    link(rel="stylesheet", href="printed.scss")
  body
    main
      .punch.left
      .content-print
        .row
          span SAC: 996421  GSTIN-IR: 27AAAGM0289CA19  STATE OF SUPPLY: 27 MAHARSTRA
        .row
          span#pnr 816-0913307
          span 02952
          span 22-10-2020
          span 1384
          span 0
          span 1
          span
          span
          span /77258995
        .row
          span
          span Journey Cum Reservation Ticket
          span PRE-CSTM
        .row
          span 3 वाता
          span नई दिल्ली
          span मुंबई सेंट्रल
          span नई दिल्ली मुंबई सेंट्रल स्पेशल
        .row
          span#class 3AC
          span New Delhi
          span Mumbai Central
          span New Delhi Mumbai Central Spl
        .row
          span B2
          span 32 / UB
          span M
          span 24
          span 
          span
          span 20
          span
          span
          span
          span 1855
        .row#amount1
          span Rs. ONE EIGHT FIVE FIVE ONLY
        .row#amount2
          span VALID WITH ORIGINAL ID
        .row
          span NDLS MMCT SPL
          span BRD NDLS
          span SCH DEP 22-10 17:00
          span ARR 23-10 08:40
        .row
          span 197 08-07-2020 17:22 ITB 11
          
      .content
        .a1
        .a2.kind-of-columns
          span पी एन आर नं
          span PNR NO.
        .a3
        .a4
          .left.kind-of-columns
            span शुभ यात्रा Happy Journey
          .center
          .right.kind-of-columns
            span All Indian Passengers helpline no. 138
            span PNR and train arrival/departure enquiry no. 139
        .a5.kind-of-rows
          .kind-of-columns
            span गाड़ी नं
            span Train no
          .kind-of-columns
            span तिथि
            span Date
          .kind-of-columns
            span कि. मी.
            span K.M.
          .kind-of-columns
            span वयस्क
            span Adult
          .kind-of-columns
            span बच्चे
            span Child
        .a6.kind-of-columns
          .top
            span टिकट नं
            span TICKET NO.
          .bottom
            span 7725
            span 8995
        .a7
        .a8
        .a9.kind-of-columns
          span श्रेणी
          span CLASS
        .a10
        .a11
        .a12.kind-of-rows
          .kind-of-columns
            span कोच
            span Coach
          .kind-of-columns
            span सीट / बर्थ
            span Seat/Berth
          .kind-of-columns
            span लिंग
            span SEX
          .kind-of-columns
            span आयु
            span AGE
          .kind-of-columns
            span यात्रा पधिकार
            span T.Authority
          .kind-of-columns
            span रियायत
            span Conc
          .kind-of-columns
            span आ. शु.
            span R.Fee
          .kind-of-columns
            span श. प्.
            span S.Ch.
          .kind-of-columns
            span सु. प्.
            span Sf.Ch.
          .kind-of-columns
            span वाउचर
            span Vouch
          .kind-of-columns
            span कु. नकद
            span T.Cash
        .a13
      .ad.bottom
        span महिला पढेंगी, खुशियाँ बढ़ेगी
      .ad.right
        img(src='https://firebasestorage.googleapis.com/v0/b/cant-i-test.appspot.com/o/assets%2Fimages%2Fsaakshar-bharat-logo%20(1).png?alt=media&token=94e47509-1552-4d64-be8a-34f7793a9804')
        span पढ़ने की कोई उम्र नहीं 
        span पढ़ने की हर उम्र सही 
        img(src='https://firebasestorage.googleapis.com/v0/b/cant-i-test.appspot.com/o/assets%2Fimages%2FEmblem_of_India-svg.png?alt=media&token=0ba1c7cc-6133-4409-873f-6ce8c8dcac26')
        span राष्ट्रीय साक्षरता मिशन प्राधिकरण मानव संसाधन  विकास भारत सरकार 
        
      .punch.right

    .line 
      | View the 
      a(href="./index.pug", target="_blank") unprinted edition
    .line
      | Made with &lt;3 
      | for Indian Railways by 
      a(href="https://twitter.com/frunkad", target="_blank")#twitter @frunkad1