/* Colors */
$bg: #C2C8D8;
$t: transparent;
$bd: #942F27;

/* Fonts */
@font-face {
  // https://www.k-type.com/fonts/ticketing/
  font-family: 'Ticketing';
  src: url(https://firebasestorage.googleapis.com/v0/b/cant-i-test.appspot.com/o/assets%2Ffonts%2FTicketing.otf?alt=media&token=bcd01c5b-a42f-4af2-82dd-ce0738e18b4a) format('opentype'),
    url(https://firebasestorage.googleapis.com/v0/b/cant-i-test.appspot.com/o/assets%2Ffonts%2FTicketing.ttf?alt=media&token=6a3db21b-7ed6-43cb-a928-5e5c75095399) format('truetype')
}

@font-face {
  // https://www.dafont.com/south-type.d5515
  font-family: 'VCR OSD MONO';
  src: url(https://firebasestorage.googleapis.com/v0/b/cant-i-test.appspot.com/o/assets%2Ffonts%2FVCR_OSD_MONO_1.001.ttf?alt=media&token=8a2f3d4f-ed83-4320-95af-a96e8723a406) format('truetype')
}

@import url('https://fonts.googleapis.com/css2?family=Arya&display=swap');

@mixin overprint {
  font-family: 'Arya', sans-serif;
  color: #414139;
  font-size: 0.9rem;
}

@mixin overprintDots {
  font-family: 'VCR OSD MONO', cursive;
  font-size: 1.5rem;
  color: #414139;
}

@mixin ticket {
  font-family: 'Ticketing', Helvetica, sans;
  color: #455681;
  text-transform: uppercase;
}

/* Reset */
body {
  background: $bd;
}
* {
  // border: 1px solid red;
  box-sizing: border-box;
}

/* Main Content */
main {
  display: grid;
  height: 600px;
  width: 1120px;
  grid-template-columns: 1fr 10fr 2fr 1fr;
  grid-template-rows: 4fr 1fr;
  font-size: 14px;
  background: $bg;
  margin: 40px auto;
  position: relative;
  
  /* Top and Bottom extra rough paper effect */
  &:before, &:after {
    position: absolute;
    top: -15px;
    height: 15px;
    width: 1120px;
    content: " ";
    background: $bg;
    z-index:10;
    // background-image: linear-gradient(to right, $bd 33%, $t 0%);
    // background-size: 120px 1px;
    // background-repeat: repeat-x;
  }
  &:after {
    bottom: 0;
    top: unset;
    height: 8px;
    // background-position: bottom;

  }
  &:before {
    // background-position: top;
  }
}

/* Left & Right Punch Holes */
.punch {
  grid-row: 1 / last-line;
  
  // holes
  $l: ();
  @for $i from 1 through 8 {
    $p: 2% + ($i - 1)*15%;
    $l: append($l, radial-gradient(circle at 50% $p, $bd 10px, $t 10px), $separator: comma);
  }
  background: $l;
  
  
  
  &.left {
    grid-column: 1 / 2;
  }
  &.right {
    grid-column: 4 / 5;
  }
}

.ad {
  background: darkblue;
  &.bottom {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    place-items: center;
    font-size: 3rem;
    font-weight: 500;
    color: #9E525C;
    background: rgb(224,177,221);
    background: linear-gradient(90deg, rgba(224,177,221,1) 0%, rgba(230,198,233,1) 54%, rgba(231,201,229,1) 100%);
  }
  &.right {
    grid-row: 1 / last-line;
    background: rgb(253,251,254);
    background: linear-gradient(180deg, rgba(253,251,254,1) 0%, rgba(249,241,249,1) 15%, rgba(240,220,239,1) 40%, rgba(231,201,229,1) 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px 0 40px 0;
    :nth-child(1) {
      max-width: 80%;
    }
    :nth-child(2) {
      font-size: 2rem;
      color: #2940c7;
    }
    :nth-child(3) {
      font-size: 2rem;
      color: #9E525C;
    }
    :nth-child(4) {
      max-width: 50%;
    }
  }
}


.content {
  display: grid;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  grid-template-rows: repeat(24, 20px);
  grid-template-columns: repeat(20, 40px);
  > * {
    border: 1px solid black;
  }
  
  .a1 {
    grid-area: 1 / 1 / 4 / 6;
    background: rgb(197,198,165);
    background:  url("https://firebasestorage.googleapis.com/v0/b/cant-i-test.appspot.com/o/assets%2Fimages%2FSwachh_Bharat_Abhiyan_logo%20(1).png?alt=media&token=2d3d9aff-a2db-4fa7-96c0-56a26eed6704") no-repeat center center, linear-gradient(90deg, rgba(197,198,165,1) 0%, rgba(210,206,169,1) 5%, rgba(214,214,216,1) 50%, rgba(210,206,169,1) 95%, rgba(197,198,165,1) 100%) ;
    background-size: contain;
  }
  
  .a2 {
    grid-area: 4 / 1 / 6 / 6;
    background: rgb(177,199,220);
    background: linear-gradient(90deg, rgba(177,199,220,1) 0%, rgba(170,196,221,1) 20%, rgba(170,196,221,1) 80%, rgba(177,199,220,1) 100%);
  }
  
  .a3 {
    grid-area: 6 / 1 / 8 / 6;
    background: #D7D298;
  }
  
  .a4 {
    grid-area: 1 / 6 / 3 / last-line;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 0;
    .left, .right {
      font-size: 1.2rem;
      background: rgb(21,56,122);
      background: linear-gradient(90deg, rgba(21,56,122,1) 0%, rgba(25,60,126,1) 87%, rgba(25,66,144,1) 100%);
      flex: 0 1 45%;
      justify-content: center;
      z-index: 9;
      color: white;
      border: 1px solid black;
      
      &::before{
        content: "";
        position: absolute;
        height: 40px;
        width: 20px;
        background: $bg;
        transform: translateX(138px);
        border-radius: 50% 0 0 50%;
      }
      
    }
    .right {
      font-size: 0.7rem;
      background: linear-gradient(90deg, rgba(25,66,144,1) 0%, rgba(25,60,126,1) 13%, rgba(21,56,122,1) 100%);
      &::before {
        transform: translateX(-138px);
        border-radius: 0 50% 50% 0;
      }

    }
    .center {
      flex: 0 1 10%;
      min-width: 60px;
      background: url(https://qph.fs.quoracdn.net/main-qimg-d3a37d54d57b63a39d3a29f8cc3ab80f.webp) no-repeat center center;
      background-size: contain;
      transform: scale(1.6);
      z-index: 11;
      img {
        height:100%;
        width:100%;
      shape-outside: circle(50% at 50% 50%) border-box;
      -webkit-clip-path: none;
      }
    }
  }
  
  .a5 {
    grid-area: 3 / 6 / 6 / 15;
    font-size: 0.8rem;
    border-top: 0;
    @include ticket;
  }
  
  .a6 {
    grid-area: 3 / 15 / 6 / last-line;
    .top {
      display: flex;
      justify-content: space-around;
      width: 100%;
      font-size: 0.8rem;    
      @include ticket;
    }
    .bottom {
      @include overprintDots;
      font-size: 1.4rem;
      span:nth-child(2) {
        font-size: 1.8rem;
      }
    }
  }
  
  .a7 {
    grid-area: 6 / 6 / 8 / 17;
  }
  
  .a8 {
    grid-area: 6 / 17 / 8 / last-line;
  }
  
  .a9 {
    grid-area: 8 / 1 / 10 / 4;
    @include ticket;
  }
  
  .a10 {
    grid-area: 10 / 1 / 13 / 4;
    text-align: center;
    font-size: 2rem;
    border: {
      right: 0;
      top: 0;
    };
  }
  
  .a11 {
    grid-area: 8 / 4 / 13 / last-line;
    border-left: 0;
    background: rgb(171,202,225);
background: linear-gradient(90deg, rgba(171,202,225,1) 0%, rgba(169,199,223,1) 35%, rgba(169,199,223,1) 81%, rgba(171,202,225,1) 100%);
  }
  
  .a12 {
    grid-area: 13 / 1 / 15 / last-line;
    @include ticket;
  }
  
  .a13 {
    grid-area: 15 / 1 / last-line / last-line;
    position: relative;
    &:before {
      position: absolute;
      content: " ";
      height: 100%;
      width: 80%;
      top: 0;
      right: 0;
      background: {
        image: url(https://firebasestorage.googleapis.com/v0/b/cant-i-test.appspot.com/o/assets%2Fimages%2FIndian_Railways_logo_bg.png?alt=media&token=d8e542fd-bf4f-4325-8182-36fe18c472a5);
        size: 80px 80px;
      }
      opacity: 0.4;
    }
  }
}

.kind-of-columns {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.kind-of-rows {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.line {
  @include ticket;
  text-align: center;
  width: 100%;
  color: #fff;
  a {
    color: $bg;
  }
  #twitter {
    background: #1DA1F2;
    color: #fff;
  }
}
